Benchmarking/venv
Benchmarking/.idea
Benchmarking/CompilersLogic/HybridMapperMQT/__pycache__/
Benchmarking/CompilersLogic/Enola/__pycache__/
Benchmarking/CompilersLogic/Parallax/__pycache__/
Benchmarking/CompilersLogic/DasAtom/__pycache__/
Benchmarking/CompilersLogic/DasAtom/DasAtom/res/
Benchmarking/CompilersLogic/DasAtom/DasAtom/__pycache__/DasAtom_fun.cpython-312.pyc
Benchmarking/CompilersLogic/Atomique/fpqa-revision-AE/
*.csv
Benchmarking/CompilersLogic/HybridMapperMQT/results/
Benchmarking/CompilersLogic/Atomique/__pycache__/
Benchmarking/CompilersLogic/DasAtom/DasAtom/tempDir/
Paper/tum-thesis-latex/main.pdf
Präsentation1.pptx
.vscode/ltex.dictionary.en-US.txt
Paper/tum-thesis-latex/main.bbl-SAVE-ERROR
